@font-face  {
    font-family: "DK Crayon Crumble";
    src: url("../Fonts/DK Crayon Crumble.ttf");
}

@font-face  {
    font-family: "Prestige Elite";
    src: url("../Fonts/prestigeelitestd_bd.ttf");
}
