.note {
  position: fixed;
  bottom: -150px;
  left:10px;

  transform:rotate(-8deg) scale(0.75,0.75);
  -ms-transform: rotate(-8deg) scale(0.75,0.75); /* IE 9 */
  -webkit-transform: rotate(-8deg) scale(0.75,0.75); /* Safari */

  color: #AAACAF;

  font-family: "DK Crayon Crumble";
  font-size:28px;

  text-align:left;
  text-transform: uppercase;
  text-decoration:none;

  letter-spacing: 5px;
  line-height: 97%;

  z-index : 3;

}

.note ul {
  position: fixed;
  list-style-type:none;

  top:35px;
  left:50px;
}

.last {
  color: #332F30;
}
