@import url(file://Fonts/DK Crayon Crumble.ttf);

/* STRUCTURAL STYLES */

.listeMotsCSS {

  /*background-image: url('../../Images/Sup-Note-A01.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto;*/

  position: fixed;
  left: 5%;
  top: 45%;

  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari */
  transform: rotate(-15deg);

  font-family: DK Crayon Crumble, sans-serif;
  font-size: 24px;
  color: #063984;
  letter-spacing:5px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: line-through;

}

.listeMotsCSS:after{
  content: url('../../Images/Sup-Note-A01.png');
}

.listeMotsCSS.line{
  margin-left: 80px;
}
