@import url(file://Fonts/DK Crayon Crumble.ttf);

/* STRUCTURAL STYLES */

.listeMotsCSS {

  background-image: url('../../Images/Sup-Note-A01.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto;

  position: fixed;
  left: 5%;
  top: 60%;

  -ms-transform: rotate(-15deg); /* IE 9 */
  -webkit-transform: rotate(-15deg); /* Safari */
  transform: rotate(-15deg); /* Standard syntax */

  font-family: DK Crayon Crumble, sans-serif;
  font-size: 36px;
  text-transform: uppercase;

  /*box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;*/

}

.listeMotsCSS:before{
  content: url('../../Images/Sup-Note-A01.png');
}
