
.gallery{

  background:#fff;
  color: #063984;

  text-align:center;
  font-family: "DK Crayon Crumble";
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration:none;
  font-size:28px;

  position:  'fixed';
  left:     0px;
  top:      0px;
  width : 100%;
  height: 100%;

  z-index : 1;
  /*display: block;*/

}

.gallery ul{
  list-style-type:none;
}

.gallery img {
  display:block;
}

.gallery div{
  text-align:center;
}

/*Animation d'entrée-sortie des photos*/
@keyframes inAndOut {
  /* On entre par la gauche */
  0%{
  transform:translate(0px,1400px);
  -moz-transform:translate(0px,1400px);
  -webkit-transform:translate(0px,1400px);
  }
  /* On reste un peu au milieu */
  100%{
    transform:translate(0px,0px);
    -moz-transform:translate(0px,0px);
    -webkit-transform:translate(0px,0px);
  }
  /* On entre par la gauche */
  /*100%{
    transform:translate(0px,-1000px);
    -moz-transform:translate(0px,-1000px);
    -webkit-transform:translate(0px,-1000px);
  }*/
}

#PicDesc
{
    position: fixed;
    left: 500px;
    top: 200px;
    height: auto;
    width: 900px;
    text-align: left;
}
