
/* STRUCTURAL STYLES */

.message {
    font-family: "DK Crayon Crumble";
    font-size: 70px;

    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;

    z-index : 0;

    position:absolute;
    width:100%;
    height:auto;
    top:20%;
    left:center;

    /* Text */
    text-align: left;
}
.message ul{
  list-style-type:none;
}
#MasterLines {

  position:relative;
  top:center;
  left:20%;

  height: auto;
  animation-name: fadeIn;
  animation-duration: 2s;

  vertical-align: middle;
  line-height: 80px;
  white-space: nowrap;
}
#FirstLine {
    position:relative;
    text-align: center;
    height: auto;
}
#SecondLine {
  position:relative;
  /*text-align: left;*/
  max-width: 1100px;
  text-align: center;
  height: auto;
}
#ThirdLine {
  /*text-align: left;*/
  font-size: 200%;
  position:relative;
  left:10%;
  height: auto;
}

@@keyframes fadeIn {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}
