.note {
  position: fixed;
  bottom: -235px;
  left:-30px;

  transform:rotate(-8deg) scale(0.95,0.95);
  -ms-transform: rotate(-8deg) scale(0.95,0.95); // IE 9
  -webkit-transform: rotate(-8deg) scale(0.95,0.95); // Safari


  color: #AAACAF;

  font-family: "DK Crayon Crumble";
  font-size:28px;

  text-align:left;
  text-transform: uppercase;

  letter-spacing: 5px;
  line-height: 97%;

  z-index : 3;

}

.note ul {
  position: fixed;
  list-style-type:none;

  top:160px;
  left:130px;
}

.note li {
  text-decoration-line: line-through;
}

.last {
  color: #332F30;
}
